
/* * Diseño del navbar */

#navbar {
  padding: 15px 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  background: #f6f6f6;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.5s linear;
}

#navbar .navbar {
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0;
  justify-content: space-between;
  background: none;
}

#navbar .navbar-brand {
  color:#2636ea;
  height: auto;
  padding: 0;
  font-size: 22px;
  line-height: 1.6;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 1px;
}

#navbar .navbar-collapse {
  flex-grow: 0;
}

#navbar .navbar-collapse .navbar-nav {
  font-size: 15px;
  line-height: 20px;
}

#navbar .navbar-collapse a:last-child {
  padding-right: 0;
}

#navbar .navbar-collapse a {
  color:#4d4d4d ;
  position: relative;
}

#navbar .navbar-collapse a:hover,
#navbar .navbar-collapse a.active {
  background: none;
  color: #2636ea;
}

#navbar .navbar-collapse a:hover:before,
#navbar .navbar-collapse a.active:before {
  right: 7px;
  left: 8px;
  opacity: 1;
}

#navbar .navbar-collapse a:before {
  content: '';
  background: #2636ea;
  height: 1px;
  position: absolute;
  bottom: 7px;
  left: -20px;
  right: 100%;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  opacity: 0;
}

.logonav{
  width: 60px;
  height: 60px;
  margin-right: 10px;
}