*{
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.pad{
  padding-top: 9%;
}

body{
  background-color: #f6f6f6;
}

.container-fluid{
padding-right: 0;
padding-left: 0;
}